.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input.search-bar {
	width: 400px;
}

.menu {
	display: flex;
	justify-content: space-between;
}

.menu a {
	text-transform: uppercase;
	margin: 0 10px;
}

.grid-container {
	display: flex;
	justify-content: center;
	margin: 30px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	min-width: 800px;
}

.recipe-box {
	height: 200px;
	margin: 10px;
	background: #CCCCCC;
	border-radius: 5px;
}