@font-face {
  font-family: 'SF Pro Display';
  src: url(/assets/SF.otf) format('otf');
}

//*
// Light Theme
$bg: #FFFFFF;
$text: #444444;
$accent: #E0E0E0;
$placeholder: #A7A7A7;
$primary: #7DB9B9;
$muted: #8E8E8E;
$modal-bg: rgba(25,25,25,0.9);
/*/
// Dark theme
$bg: #202020;
$text: #DEDEDE;
$accent: #333333;
$placeholder: #828282;
$primary: #75B0B0;
$muted: #8E8E8E;
$modal-bg: rgba(75,75,75,0.9);
//*/

$pink: #EB8D96;
$green: #88BD96;
$yellow: #F2D46C;

.modal {
	//z-index: 9999;
}

html {
	background: $bg !important;
	background-color: $bg !important;
}

.content {
	h1, h2, h3, h4, h5, h6, p {
		margin-bottom: 0.25em;
	}
	p:not(:last-child) {
		margin-bottom: 0.5em;
	}
}

.color-default {
	color: $text !important;
}
.color-muted {
	color: $muted !important;
}

#app {
  font-family: 'SF Pro Display', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text;
}

#nav {
	display:flex;
	flex-wrap: nowrap;
	margin: 0 0.5em;
  a {
    font-weight: 700;
    font-size: 16px;
    color: $text;
    border-radius: 8px;
    height: 40px;
    padding: 0.5em 0.6em;
    margin: 0 0.25em;
    white-space: nowrap;
    &:hover {
    	background: $accent;
    }
    &.router-link-exact-active {
      color: $primary;
      background: $accent;
      cursor: default;
    }
  }
}

#top-bar {
	z-index: 30;
	padding: 5px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	background: $bg;
	border-bottom: 1px solid $accent;
}

#main-content {
	background: transparent;
	margin-top: 75px;
}

#profile {
	text-align: left;
}

button {
	cursor: pointer;
}

button.button {
	background: transparent;
	border-radius: 6px;
	text-transform: uppercase;
	font-weight: 700;
	&:focus {
		box-shadow: none;
	}
	&.primary {
		color: $primary;
		border: 2px solid $primary;
		&:hover {
			background: $primary;
			color: $bg;
		}
	}
	&.green {
		color: $green;
		border: 2px solid $green;
		&:hover {
			background: $green;
			color: $bg;
		}
	}
	&.yellow {
		color: $yellow;
		border: 2px solid $yellow;
		&:hover {
			background: $yellow;
			color: $bg;
		}
	}
}

.logo-container {
	font-size: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.35em;
	margin: 0 0.25em;
	border-radius: 8px;
	color: $text;
	cursor: pointer;
	&:hover {
		background: $accent;
	}
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 0.5em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $placeholder;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $placeholder;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $placeholder;
}

#search-field {
	position: relative;
	display: flex;
	font-size: 16px;
	width: 100%;
	margin: 0 0.5em;
	.icon-container {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 2.5em;
		i {
			font-size: 1.25em;
			color: $text;
		}
	}
	input {
		padding-left: 2.5em;
		height: 40px;
		width: 100%;
		background: $accent;
		border-radius: 8px;
		border-style: none;
		font-size: 1em;
		font-weight: 700;
		color: $text;
		&:focus {
			outline: none;
			box-shadow: 0 0 0 3px $primary;
		}
	}
}

.top-bar-cook {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

input.search-bar {
	width: 400px;
}

.menu {
	display: flex;
	justify-content: space-between;
	a {
		text-transform: uppercase;
		margin: 0 10px;
	}
}

.grid-container {
	display: flex;
	justify-content: center;
	margin: 15px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	min-width: 800px;
}

.recipe-box {
	width: 225px;
	margin: 10px 10px 20px 10px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background: $accent;
	border-radius: 8px;
	text-align: left;
	cursor: pointer;
	position: relative;

	background-image: url('./assets/img-placeholder.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&.xs { height: 185px; }
	&.sm { height: 218px; }
	&.md { height: 241px; }
	&.lg { height: 252px; }
	&.xl { height: 267px; }
	&:hover {
		//box-shadow: 0 0 0 5px $accent;
		&::before {
			display: block;
			content: '';
		}
	}
	.saved-btn {
		cursor: pointer;
		position: absolute;
		top: 0; right: 0;
		padding: 5px;
		height: 30px;
		width: 30px;
		i { color: $bg; }
		&:hover {
			i { color: $pink; }
		}
	}
	&::before {
		display: none;
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		background: rgba(50,50,50,0.25);
		border-radius: 8px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ingredient-container {
	display: flex;
	flex-direction: column;
	input {
		margin: 5px 0;
	}
}

.ingredient-entry {
	display: flex;
	flex-direction: row;
	margin: 5px 0;
	.ingredient-amount {
		margin: 0 15px;
		display: flex;
		flex-direction: row;
		h4 { margin: 0 5px; }
	}
}

.img-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 15px 0;
	.img {
		width: 325px;
		height: 325px;
		//background: $accent;
		background-image: url('./assets/img-placeholder.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-radius: 5px;
	}
}

.img-carousel-btn {
	padding: 15px;
	margin: 25px;
	cursor: pointer;
	i {
		font-size: 1.5rem;
	}
}

.back-btn {
	padding: 5px;
	margin: 20px;
	cursor: pointer;
	i {
		font-size: 1.5rem;
	}
}

.instruction-detail-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	h4 { margin: 5px 0; }
}

.step-nav-container {
	display: flex;
	justify-content: space-between;
	button { margin: 0 15px; }
}

.timer-container {
	display: flex;
	justify-content: space-between;
	* { margin: 0 15px; }
}

.steps-nav {
	display: flex;
	justify-content: center;
	.step-btn {
		margin: 0 25px;
		border: 1px solid #555555;
		//border-radius: 3px;
		padding: 5px 10px;
		cursor: pointer;
		&.current {
			background: #555555;
			color: #FFFFFF;
		}
	}
}

#my-recipes {
	display: flex;
	justify-content: center;
}

.recipe-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 55vw;
	min-width: 800px;
	margin-bottom: 30px;
	.recipe-entry {
		display: flex;
		align-items: center;
		margin: 10px 0;
		.recipe-img {
			position: relative;
			background: $accent;
			border-radius: 5px;
			height: 125px;
			width: 125px;
			margin-right: 20px;

			background-image: url('./assets/img-placeholder.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			.saved-btn {
				cursor: pointer;
				position: absolute;
				top: 5px; right: 5px;
				padding: 5px;
				height: 30px;
				width: 30px;
				i { color: $pink; }
				&:hover {
					i { color: $text; }
				}
			}
		}
		.recipe-description {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			text-align: left;
			.btn-container {
				button { margin-right: 10px; }
			}
		}
	}
}

.align-left {
	align-self: flex-start;
}

.card {
	border-radius: 10px;
	background-color: $bg !important;
	.card-content {
		background: transparent;
		text-align: left;
	}
}

.modal-background {
	background-color: $modal-bg !important;
}